################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPNCalculatorLib/.vs
/RPNCalculatorLib/RPNCalculatorLib/bin/Debug/net6.0
/RPNCalculatorLib/RPNCalculatorLib/obj
/RPNCalculatorLib/RPNCalculatorTest/bin/Debug/net6.0
/RPNCalculatorLib/RPNCalculatorTest/obj/Debug/net6.0
/RPNCalculatorLib/RPNCalculatorTest/obj
